In [105]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [106]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [107]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Squaregps") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "2") \
    .config("spark.sql.shuffle.partitions", "200") \
    .getOrCreate()

In [108]:
#import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from datetime import datetime
import numpy as np
import pandas as pd
from time import sleep

In [109]:
from geopy.geocoders import Nominatim
from geopy.point import Point

geolocator = Nominatim(user_agent="test")
geocode_cache = {}

def reverse_geocoding(lat, lng, retries=3):
    key = (lat, lng)
    if key in geocode_cache:
        return geocode_cache[key]
    for _ in range(retries):
        try:
            location = geolocator.reverse((lat, lng), timeout=60)
            address = location.address if location else (lat, lng)
            geocode_cache[key] = address
            return address
        except Exception as e:
            print(f"Geocoding error: {e}, retrying...")
            sleep(1)
    return (lat, lng)

In [110]:
def parse_timestamp(ts_str):
    try:
        # Parse the timestamp string to a datetime object
        dt = datetime.strptime(ts_str, '%Y-%m-%dT%H:%M:%S%z')
        return dt
    except Exception as e:
        print(f"Error parsing timestamp {ts_str}: {e}")
        return None

parse_timestamp_udf = udf(parse_timestamp, TimestampType())

In [111]:
df = spark.read \
.option("inferSchema", "true") \
.option("header", "true").csv("/content/Untitled_raw_data.csv")

In [112]:
# Convert `msg_time` to timestamp type
df = df.withColumn('msg_time', parse_timestamp_udf(col('msg_time')))

In [113]:
# Calculate time difference between rows (in seconds)
window_spec = Window.orderBy('msg_time')
df = df.withColumn('time_diff', (unix_timestamp(col('msg_time')) - unix_timestamp(lag('msg_time').over(window_spec))).cast('int'))

# Create a column to identify periods of speed < 5 km/h
df = df.withColumn('below_5', when(col('speed') < 5, 1).otherwise(0))

In [114]:
# Flagging the start and end of parking periods
# A parking start is flagged when the speed drops below 5 km/h after being above 5 km/h.
# A parking end is flagged when the speed rises above 5 km/h after being below 5 km/h.

df = df.withColumn('parking_start_flag', when((col('below_5') == 1) & (lag('below_5').over(window_spec) == 0), 1).otherwise(0))
df = df.withColumn('parking_end_flag', when((col('below_5') == 1) & (lead('below_5').over(window_spec) == 0), 1).otherwise(0))

# Removing rows without moving
df = df.where("not (below_5 == 1 and parking_start_flag == 0 and parking_end_flag == 0)")

In [115]:
# calculate the time difference between the start and end of parking periods.
df = df.withColumn('parking_diff', (unix_timestamp(col('msg_time')) - unix_timestamp(lag('msg_time').over(window_spec))))
df = df.withColumn('parking_diff_2', lead('parking_diff').over(window_spec))\
.withColumn('next_parking_flag', lag('parking_end_flag').over(window_spec))
#it is long enough for parking
df = df.withColumn('is_parking', expr('parking_diff > 180 or parking_diff_2 > 180'))

In [116]:
df.limit(10).show()

+-------------------+-----------+------------+-----+----+---------+-------+------------------+----------------+------------+--------------+-----------------+----------+
|           msg_time|        lat|         lng|speed|fuel|time_diff|below_5|parking_start_flag|parking_end_flag|parking_diff|parking_diff_2|next_parking_flag|is_parking|
+-------------------+-----------+------------+-----+----+---------+-------+------------------+----------------+------------+--------------+-----------------+----------+
|2024-06-30 23:07:26|40.94801833|-74.23513833|    0|  \N|        5|      1|                 0|               1|        null|             1|             null|      null|
|2024-06-30 23:07:27|40.94801833|-74.23513833|   33|  \N|        1|      0|                 0|               0|           1|             8|                1|     false|
|2024-06-30 23:07:35|40.94766667|-74.23623667|   49|  \N|        8|      0|                 0|               0|           8|             5|                0|     false|
|2024-06-30 23:07:40|40.94735167|-74.23689167|   57|  \N|        5|      0|                 0|               0|           5|             5|                0|     false|
|2024-06-30 23:07:45|   40.94713|-74.23758333|   54|  \N|        5|      0|                 0|               0|           5|             4|                0|     false|
|2024-06-30 23:07:49|40.94705667|-74.23833833|   47|  \N|        4|      0|                 0|               0|           4|             6|                0|     false|
|2024-06-30 23:07:55|  40.946955|-74.23928167|   45|  \N|        6|      0|                 0|               0|           6|             6|                0|     false|
|2024-06-30 23:08:01|   40.94684|-74.24041667|   54|  \N|        6|      0|                 0|               0|           6|             5|                0|     false|
|2024-06-30 23:08:06|40.94675167|  -74.241295|   54|  \N|        5|      0|                 0|               0|           5|             5|                0|     false|
|2024-06-30 23:08:11|40.94657333|-74.24234167|   51|  \N|        5|      0|                 0|               0|           5|             3|                0|     false|
+-------------------+-----------+------------+-----+----+---------+-------+------------------+----------------+------------+--------------+-----------------+----------+

In [117]:
#Identify trips
df = df.withColumn('trip_start_flag', expr("case when next_parking_flag = 1 and not is_parking then 1 else 0 end"))
df = df.withColumn('trip_end_flag', expr("case when parking_start_flag = 1 and is_parking then 1 else 0 end"))

In [118]:
# Assign a trip ID
df = df.withColumn('trip_id', expr('sum(trip_start_flag) over (order by msg_time rows between unbounded preceding and current row)'))

In [119]:
#сalculate speed_max #avg speed
df = df.withColumn('speed_max', max('speed').over(Window.partitionBy('trip_id')))

df = df.withColumn('trip_dur', sum(expr('case when trip_end_flag =1 then 0 else time_diff end')).over(Window.partitionBy('trip_id')))
df = df.withColumn('distance', (col('speed') * col('time_diff')) / 3600)
df = df.withColumn('trip_distance', sum(expr('case when trip_end_flag =1 then 0 else distance end')).over(Window.partitionBy('trip_id')))
df = df.withColumn('avg_speed',  round(col('trip_distance') / (col('trip_dur') / 3600), 2))

In [121]:
# Only keep rows that mark the start or end of trips.
trips = df.where("trip_start_flag = 1 or trip_end_flag = 1") \
.withColumn('trip_start_dttm', min('msg_time').over(Window.partitionBy('trip_id'))) \
.withColumn('trip_end_dttm', max('msg_time').over(Window.partitionBy('trip_id'))) \
.withColumn('end_lat', lead('lat').over(Window.partitionBy('trip_id').orderBy('msg_time'))) \
.withColumn('end_lng', lead('lng').over(Window.partitionBy('trip_id').orderBy('msg_time'))) \
.select('trip_id', 'trip_start_dttm', 'trip_end_dttm', col('lat').alias('start_lat'), col('lng').alias('start_lng'),'end_lat', 'end_lng','speed_max', 'avg_speed')  \

# collapse to only one row per trip
trips = trips.withColumn("rn", row_number().over(Window.partitionBy('trip_id').orderBy('trip_start_dttm')))  \
    .select('trip_id', 'trip_start_dttm', 'trip_end_dttm', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'speed_max', 'avg_speed')  \
    .where("rn = 1")

In [122]:
trips.count()

487

In [123]:
trips.show()

+-------+-------------------+-------------------+-----------+------------+-----------+------------+---------+---------+
|trip_id|    trip_start_dttm|      trip_end_dttm|  start_lat|   start_lng|    end_lat|     end_lng|speed_max|avg_speed|
+-------+-------------------+-------------------+-----------+------------+-----------+------------+---------+---------+
|      1|2024-06-30 23:07:27|2024-06-30 23:27:57|40.94801833|-74.23513833|40.97530167|-74.16303833|       59|    43.43|
|      2|2024-06-30 23:37:53|2024-07-01 00:03:28|40.97530167|-74.16303833|41.02764333|-74.03736333|       59|    43.79|
|      3|2024-07-01 00:13:24|2024-07-01 00:25:23|41.02764333|-74.03736333|40.96947333|-74.06209667|       59|    43.99|
|      4|2024-07-01 00:35:20|2024-07-01 00:48:34|40.96947333|-74.06209667|  40.915215|-74.01376167|       59|    44.23|
|      5|2024-07-01 00:58:30|2024-07-01 01:11:45|  40.915215|-74.01376167|40.99088833|   -73.97123|       59|    43.02|
|      6|2024-07-01 01:21:41|2024-07-01 01:45:36|40.99088833|   -73.97123|40.96646833|-74.12296333|       59|    41.42|
|      7|2024-07-01 01:55:32|2024-07-01 02:12:41|40.96646833|  -74.122965|40.99110333|    -74.0226|       59|    42.51|
|      8|2024-07-01 02:22:38|2024-07-01 02:33:27|40.99110333|    -74.0226|40.99786667|-74.09415167|       59|    43.07|
|      9|2024-07-01 02:43:23|2024-07-01 02:55:52|40.99786667|-74.09415167|40.98945167|   -74.15675|       59|    42.31|
|     10|2024-07-01 03:05:49|2024-07-01 03:16:28|40.98945167|   -74.15675|  40.937445|-74.15359667|       59|    42.23|
|     11|2024-07-01 03:26:24|2024-07-01 03:36:19|  40.937445|-74.15359667|40.96370167|-74.09910833|       59|    43.48|
|     12|2024-07-01 03:46:15|2024-07-01 04:06:49|40.96370167|-74.09910833|40.86738333|-74.11326167|       59|     43.1|
|     13|2024-07-01 04:16:46|2024-07-01 04:26:25|40.86738333|-74.11326167|40.82535167|-74.15987333|       59|    43.49|
|     14|2024-07-01 04:36:21|2024-07-01 04:53:41|40.82535167|-74.15987333|40.85575333|-74.08736167|       59|    44.26|
|     15|2024-07-01 05:03:37|2024-07-01 05:21:31|40.85575333|-74.08736167|40.80700833|  -74.166755|       59|    43.34|
|     16|2024-07-01 05:31:28|2024-07-01 05:49:42|40.80700833|  -74.166755|40.77968167|-74.24406167|       59|    44.06|
|     17|2024-07-01 05:59:39|2024-07-01 06:09:58|40.77968167|-74.24406167|40.74339167|-74.17773833|       59|    42.21|
|     18|2024-07-01 06:19:54|2024-07-01 06:42:19|40.74339167|-74.17773833|40.84507333|-74.24642833|       59|    41.87|
|     19|2024-07-01 06:52:15|2024-07-01 07:12:35|40.84507333|-74.24642833|  40.772375|-74.11660833|       59|    43.67|
|     20|2024-07-01 07:22:31|2024-07-01 07:40:40|  40.772375|-74.11660833|40.83356833|-74.17704333|       59|    43.39|
+-------+-------------------+-------------------+-----------+------------+-----------+------------+---------+---------+
only showing top 20 rows

In [124]:
#  Convert a pandas df
trips_pd_start = trips.select(col('trip_id'),col('start_lat'),col('start_lng'))\
.toPandas()
trips_pd_end = trips.select(col('trip_id'),col('end_lat').alias('start_lat'),col('end_lng').alias('start_lng'))\
.toPandas()

In [125]:
# Concatenate start and end trip points
frames = [trips_pd_start, trips_pd_end]
result = pd.concat(frames).drop_duplicates().dropna()

In [126]:
#get addresses for the lat/lng points
result['address'] = np.vectorize(reverse_geocoding)(result['start_lat'], result['start_lng'])

In [127]:
result.head()

,trip_id,start_lat,start_lng,address
0,1,40.948018,-74.235138,"Preakness HIlls Country Club, 1050, Ratzer Roa..."
1,2,40.975302,-74.163038,"34, Orchard Place, Hawthorne, Passaic County, ..."
2,3,41.027643,-74.037363,"88, Chadwick Court, Park Ridge, Bergen County,..."
3,4,40.969473,-74.062097,"740, Pascack Road, Paramus, Bergen County, New..."
4,5,40.915215,-74.013762,"158, Baker Avenue, Surrey Lane Estates, Bergen..."

In [128]:
from pyspark.sql import Row

# Convert Pandas DataFrame to list of Rows and Create Spark DataFrame
rows = [Row(**row) for row in result.to_dict(orient='records')]
trips_with_addresses = spark.createDataFrame(rows)

In [129]:
start = trips_with_addresses.alias('start')

In [130]:
# Join the detailed trip information (trip_id, start/end lat/lng) with the addresses

trips_with_details = trips.join(
    start,
    ((trips.trip_id == start.trip_id) &
    (trips.start_lat == start.start_lat) &
    (trips.start_lng == start.start_lng)) ,
    'left'
).select(
    trips.trip_id,
    trips.trip_start_dttm,
    trips.trip_end_dttm,
    trips.end_lat,
    trips.end_lng,
    trips.speed_max,
    trips.avg_speed,
    start.address.alias('Address Start'))

In [135]:
final_result = trips_with_details.join(
    trips_with_addresses,
    ((trips_with_details.trip_id == trips_with_addresses.trip_id) &
    (trips_with_details.end_lat == trips_with_addresses.start_lat) &
    (trips_with_details.end_lng == trips_with_addresses.start_lng) ),
    'left'  \
).select( \
    trips.trip_id,  \
    trips.trip_start_dttm,
    trips.trip_end_dttm,
    col('Address Start'),
    trips_with_addresses.address.alias('Address End'),
    trips.avg_speed.alias('Speed Average') ,
    trips.speed_max.alias('Speed Max'))

In [136]:

# Show the resulting DataFrame
final_result.show(truncate=False)

+-------+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------+---------+
|trip_id|trip_start_dttm    |trip_end_dttm      |Address Start                                                                                                                                        |Address End                                                                                                                                     |Speed Average|Speed Max|
+-------+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------+---------+
|278    |2024-07-06 23:31:35|2024-07-06 23:42:34|164, Willow Avenue, Port Morris, Bronx County, The Bronx, City of New York, New York, 10454, United States                                           |Cross Bronx Expressway Service Road, Schuylerville, Bronx County, The Bronx, City of New York, New York, 10465, United States                   |42.24        |59       |
|335    |2024-07-08 10:41:40|2024-07-08 10:55:09|443, 5th Street, Brooklyn, Kings County, City of New York, New York, 11215, United States                                                            |1336, 82nd Street, Brooklyn, Kings County, City of New York, New York, 11228, United States                                                     |43.6         |59       |
|365    |2024-07-09 02:52:07|2024-07-12 06:29:32|9006, Seaview Avenue, Brooklyn, Kings County, City of New York, New York, 11236, United States                                                       |Fish House Road, Kearny, Hudson County, New Jersey, 07032, United States                                                                        |52.92        |59       |
|374    |2024-07-12 11:20:31|2024-07-12 11:39:21|Formosa Street, Elizabeth, Union County, New Jersey, 07002, United States                                                                            |423, Duncan Avenue, Jersey City, Hudson County, New Jersey, 07306, United States                                                                |43.11        |59       |
|173    |2024-07-04 16:31:25|2024-07-04 16:58:10|1158, Myrtle Avenue, Brooklyn, Kings County, City of New York, New York, 11221, United States                                                        |NJ 440, Jersey City, Hudson County, New Jersey, 07305, United States                                                                            |44.9         |59       |
|263    |2024-07-06 15:45:32|2024-07-06 16:02:12|Caddell Boulevard, Staten Island, Richmond County, City of New York, New York, 10310, United States                                                  |99, Cedar Grove Beach Place, Staten Island, Richmond County, City of New York, New York, 10306, United States                                   |43.96        |59       |
|146    |2024-07-04 01:45:08|2024-07-04 02:25:48|239, Surf Drive, Bronx County, The Bronx, City of New York, New York, 10473, United States                                                           |18, Cedar Lane, Estates of Sands Point, Village of Port Washington North, Town of North Hempstead, Nassau County, New York, 11050, United States|43.15        |59       |
|401    |2024-07-13 03:26:55|2024-07-13 03:49:25|Tonnelle Avenue, Indian Square, Croxton, Jersey City, Hudson County, New Jersey, 07306, United States                                                |NJ 21, Passaic, Passaic County, New Jersey, 07055, United States                                                                                |44.34        |59       |
|292    |2024-07-07 07:10:53|2024-07-07 07:26:02|20, Parsonage Point, City of Rye, Westchester County, New York, 10580, United States                                                                 |2, Pryer Lane, Village of Larchmont, Town of Mamaroneck, Westchester County, New York, 10538, United States                                     |43.54        |59       |
|117    |2024-07-03 10:28:21|2024-07-03 10:59:36|George Washington Bridge, Fort Washington Park Greenway, Hudson Heights, Manhattan, New York County, City of New York, New York, 10033, United States|New Jersey Turnpike Eastern Spur, Undercliff Junction, Ridgefield, Bergen County, New Jersey, 97657, United States                              |42.65        |59       |
|143    |2024-07-04 00:24:36|2024-07-04 00:36:10|1211, Wyatt Street, West Farms, Bronx County, The Bronx, City of New York, New York, 10460, United States                                            |839, Riverside Drive, Manhattan Community Board 12, Manhattan, New York County, City of New York, New York, 10032, United States                |42.03        |59       |
|192    |2024-07-05 03:04:32|2024-07-05 03:25:02|73-5, 168th Street, Pomonok, Queens, Queens County, City of New York, New York, 11366, United States                                                 |Long Island Expressway, Roslyn Heights, Town of North Hempstead, Nassau County, New York, 11576, United States                                  |43.52        |59       |
|4      |2024-07-01 00:35:20|2024-07-01 00:48:34|740, Pascack Road, Paramus, Bergen County, New Jersey, 07652, United States                                                                          |158, Baker Avenue, Surrey Lane Estates, Bergenfield, Bergen County, New Jersey, 07621, United States                                            |44.23        |59       |
|232    |2024-07-06 00:18:47|2024-07-06 00:54:17|147, 68th Street, Bay Ridge, Brooklyn, Kings County, City of New York, New York, 11220, United States                                                |Pennsylvania Avenue, Kearny Point, Kearny, Hudson County, New Jersey, 07032, United States                                                      |43.21        |59       |
|326    |2024-07-08 05:09:02|2024-07-08 05:31:12|12, Grandview Place, Clifton, Passaic County, New Jersey, 07011, United States                                                                       |7, Chovet Terrace, Surrey Lane Estates, Bergenfield, Bergen County, New Jersey, 07621, United States                                            |43.24        |59       |
|183    |2024-07-04 22:17:25|2024-07-04 22:44:34|1155, Summit Avenue, Teaneck Township, Bergen County, New Jersey, 07666, United States                                                               |83, Pretoria Street, Passaic, Passaic County, New Jersey, 07055, United States                                                                  |42.49        |59       |
|309    |2024-07-07 19:01:09|2024-07-07 19:27:14|29-05, Shore Road, Douglas Manor, Queens, Queens County, City of New York, New York, 11363, United States                                            |St Michael's Avenue, Queens, Queens County, City of New York, New York, 11370, United States                                                    |43.37        |59       |
|298    |2024-07-07 12:29:50|2024-07-07 12:47:44|54, Nassau Avenue, Inwood, Town of Hempstead, Nassau County, New York, 11096, United States                                                          |88-12, 151st Avenue, Queens, Queens County, City of New York, New York, 11414, United States                                                    |44.3         |59       |
|369    |2024-07-12 08:11:37|2024-07-12 09:06:30|Winfield Avenue, Jersey City, Hudson County, New Jersey, 07305, United States                                                                        |Belt Parkway, Fort Hamilton, Brooklyn, Kings County, City of New York, New York, 11209, United States                                           |43.53        |59       |
|70     |2024-07-02 08:57:45|2024-07-02 09:15:24|Riverside Walk, Bloomingdale, Upper West Side, Manhattan, New York County, City of New York, New York, 10205, United States                          |22-38, 38th Street, Steinway, Queens, Queens County, City of New York, New York, 11105, United States                                           |42.77        |59       |
+-------+-------------------+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+-------------+---------+
only showing top 20 rows

In [137]:
# Export the final result to CSV
final_result.orderBy(['trip_start_dttm', 'trip_id']).coalesce(1).write.csv('content/result.csv')